@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Application

@if (Model.CreeperStalker == false)
{
    <h2>Application Received. Thank you @Model.FirstName</h2>
    <h3>Vete a tomar por saco</h3>
}

else
{
    <h3>Shoot, vete vete papi</h3>
}