@{
    ViewData["Title"] = "Home Page";
}

<h1> Date Pablinho</h1>
<div> 
    <p> Today is your lucky day. You could date this cutie </p>
    <img src="~/img/guapo.jpg" />
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="DatingApplication">Fill out application</a>
</div>
